@import '../../../main-styles.scss';

.root{
    display: flex;
    width: 100%;
    position: relative;
    
    .x-icon-button {
        position: absolute;
        width: 34px;
        height: 34px;
        background-color: grey;
        right: -17px;
        border-radius: 50%;
        top: -17px; // half of the height
   
    }

    .budget-item {
        display: flex;
        width: 100%;
        background-color: $grey-light;
        padding: 10px;
        border-radius: 5px;
        margin-bottom: 10px;
        margin-top: 10px;
        cursor: pointer;

        .description {
            display: flex;
            flex-grow: 1;
            font-size: 18px;
            margin-left: 5px;

            //Vertically center p tag
            align-items: center;
        }

        .amount {
            padding: 5px;
            border-radius: 3px;
        }
    }
    .expense {
        p {
            color: red;
        }

        .amount {
            background-color: lightcoral;
        }
    }
    .income {
        p {
            color: $green;
         }
        .amount {
            background-color: $light-green;
        }
    }

}